@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Arimo', sans-serif; */
}

@font-face {
	font-family: 'NeueMontreal-Regular';
	src: url('fonts/NeueMontreal-Regular.otf');
	font-weight: normal;
}

body {
  overflow: hidden;
  background-color: #FF6700;
}
@-ms-viewport{
  width: device-width;
}
::-webkit-scrollbar {
    display: none;
}

@media (min-width: 800px){
  .d-text{
    font-size: 17px;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hello{
    font-size: 20px;
  }
  .header-d{
    font-size:17px;
  }
}
@media (max-width: 800px){
  .d-text{
    font-size: 13px;
  }
  .about-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  }

   .header-d{
     font-size:13px;
   }
}

code {background: #ccc;}
.test {
  background: #FF6700;
  margin: 20px;
  padding: 40px 20px;
  z-index:1000;
}
.test.blue {
  background-color: blue;}
.test.green {
  background-color: green;}

/* img{
  position: absolute;
} */


.image-container{
  display: none;
  position: fixed;
  /* margin-top: 10%; */
  /* margin-top: -10px; */
  /* top: calc(8% + 10px); */
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100%;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}

/* .image-undes {padding-bottom: 5px; padding-left: 5px; padding-right: 5px;} */

/* .top-links{display:block;} */
.icon {width:40px;height:40px}

img {
  width: 100%;
  /* padding:4px; */
}

#container {
  top: 0%;
  /* padding-top: 10%;
  padding-bottom: 10%; */
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: fixed;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  /* height: 100%; */
}

.d-text {
  position: relative;
  padding-left: 3%;
  margin-right: 10%;
  margin-bottom: 10px;
  /* height: calc(100% - 10px); */
  height: 100%;
  font-family: 'NeueMontreal-Regular', sans-serif;
  /* overflow-y: hidden; */
  display: none;

  }
.d-text:hover{cursor: ns-resize	}
/* .d-text-indent{text-indent: 0px; font-size: 17px; position: relative;} */
.d-text-extra{font-size: 13px; margin-left:0%;}

.note{
  position: fixed;
  bottom: 5px;
  font-size: 10px;
  color: #FF6700;
  left: 45%;
  text-align: center;
}

/* .rotate{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
} */

#drawer-content {
    background-color: white;
}
#drawer-content > p {
    /* padding: 10px; */
}

.about-container{
  position: absolute;
  color: #FF6700;
  padding: 10px;
  font-size: 15px;
  font-family: 'NeueMontreal-Regular', sans-serif;
  top: 0%;
  width: 100%;
  z-index:1000;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.header{text-transform: uppercase;}
/* .header-d{
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 5%;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
} */

.hello{
  display: none;
  background-color: #FF6700;
  color: black;
  position: fixed;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'NeueMontreal-Regular', sans-serif;
  /* left: 50%; */
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* z-index: -100; */
}

.extras{
  font-size: 15px;
  font-family: 'NeueMontreal-Regular', sans-serif;
  position: absolute;
  color: #d8d8d8;
}
/*
.menu-button{
  position: fixed;
  background-color: black;
  border: 1px black solid;
  padding: 10px;
  margin:5px;
  width:40px;
  height: 98%;
  display: inline-block;
} */
.menu-text{
  font-size: 15px;
  font-family: 'NeueMontreal-Regular', sans-serif;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.rotate{
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.project-grid-container {
  display: flex;
  justify-content:left;
  position: absolute;
  /* left:40px; */
  /* height: calc(100% - 10px); */
  height: 100%;
  max-width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: -moz-scrollbars-vertical;
  /* background-color: black; */
}

/* ::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
} */

.project-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px; */
  /* margin: 5px; */
}
.project-grid-item {
  text-align: center;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  min-width: 100%;
  font-family: 'NeueMontreal-Regular', sans-serif;
  /* margin:1%; */
  background-color: black;
  /* color: #FF6700; */
  /* filter: blur(2px); */
}

/* div.project-grid-item {cursor: pointer} */

.project-grid-item:hover {
  /* background-color: #FF6700; */
  /* color: white; */
  cursor: pointer;
  /* filter: blur(0px); */
}

/* .item-1, .item-4, .item-5, .item-6, .item-7, .item-10, .item-12 {
    width: calc((100% - 30px) / 3);
}
.item-2, .item-3, .item-11, .item-13 {
    width: calc((100% - ((100% - 24px) / 3)) - 20px);
}

.item-8, .item-9 {
    width: calc((100% - 22px) / 2);
} */

#myDIV{
  /* width:300px;
  height:300px; */
  /* background-color: red; */
}
p{
  position: absolute;
  font-family: 'NeueMontreal-Regular', sans-serif;
  font-size: 15px;
  left:20px;
}

a {text-decoration: underline; color: #FF6700}
.d-links{color: #FF6700; text-decoration: underline;}
/* a:hover {color:black; background-color: #FF6700; text-decoration: underline;} */
.expo{text-decoration: underline; color: black;}
/* .expo:hover {cursor: pointer; text-decoration: underline;} */
.top-links{ color: black; background-color: #FF6700; border: 1px solid black; border-radius: 5px; padding: 3px; font-family: 'NeueMontreal-Regular', sans-serif;}
.top-links:hover { color: #FF6700; background-color: black; cursor: pointer;}


#mobileNext{display: none;}
.add-d{
  font-size: 11px;
  /* text-align: right; */
  /* padding:10px; */
  display: none;
}

.back{
  position: fixed;
  display: block;
  right: 15px;
  top: 7%;
  color: #FF6700;
  font-size: 25px;
  padding-top: 5px;
  margin: 0px;
}

.close{
  position: fixed;
  display: block;
  right: 15px;
  top: 7%;
  color: black;
  font-size: 25px;
  padding-top: 5px;
  margin: 0px;
}


/* #image-container-1{overflow-y: scroll; overflow-x: hidden;} */
.image-gallery{
  display: none;
  /* background-color: #FF6700;  */
  color: white;
  position: fixed;
  padding-bottom: 10px;
  /* padding-top: 10%; */
  font-family: 'NeueMontreal-Regular', sans-serif;
  /* left: 50%;  */
  left: 0%; top:0%;
  width: 100%; height:100%;
  overflow-y: scroll;

}

/* .image{
  padding-bottom: 10px;
} */

.titel{
  background-color: black;
  /* margin: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 7px;
  color: #FF6700;
  font-family: 'NeueMontreal-Regular', sans-serif;
}
/* .titel:hover{background-color: #FF6700; color: black;} */

.menuimg{
  max-width: 97%;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  /* border: 1px hidden #FF6700; */
  box-shadow: 0px 0px 0px 1px rgba(255,103,0,0);
}
.menuimg:hover{
  /* border: 1px solid #FF6700; */
  box-shadow: 0px 0px 0px 1px rgba(255,103,0,1);

}
