@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  background-color: white;
  margin:0%;
  padding:0%;
  border:0%;
  outline:0%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  cursor:none;
  /* cursor: auto;
  cursor: url(images/cursor/cursor_left.png), auto; */
}

#container, #container-2 {
    width: 50%;
    height: 100%;
    position: fixed;
    color: black;
    overflow: hidden;
    display: none;
}
#pr-a-descr-1,
#pr-a-descr-2,
#pr-a-descr-3,
#pr-a-descr-4,
#pr-a-descr-5,
#pr-a-descr-6,
#pr-a-descr-7,
#pr-c-descr-1,
#pr-c-descr-2,
#pr-c-descr-3,
#pr-c-descr-4,
#pr-c-descr-5,
#pr-c-descr-6 {
  position: fixed;
  display: none;
  overflow: hidden;
  width: 50%;
  /* color: rgba(150, 150, 150); */
  color: red;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 20px;
  top:0%;
  padding: 5px;
  height:100%;
  padding-top: 50px; padding-bottom: 25px; padding-left: 35px; padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  /* border: solid 1px red; */
  line-height: 120%;
}

#contact-info{
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 3.5vw;
  position: absolute;
  top:6%;
  top:20px;
  padding: 1vw;
  /* padding-top:10%; */
}

.image-container{
  display: none;
  position: absolute;
  height:100%; width:100%;
  overflow: hidden;
  top:0px;
  /* scroll-behavior: smooth; */
  /* padding:5px; */
  /* background-color: black; */
}

#pr-a-1-img,
#pr-a-2-img,
#pr-a-3-img,
#pr-a-4-img,
#pr-a-5-img,
#pr-a-6-img,
#pr-a-7-img,
#pr-c-1-img,
#pr–c-2-img,
#pr-c-3-img,
#pr-c-4-img,
#pr-c-5-img,
#pr-c-6-img,
#pr-c-30-img {
  display: none;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-container-2{
  display: none;
  position: absolute;
  height:100%; width:100%;
  overflow: hidden;
  top:0px;
  /* scroll-behavior: smooth; */
  /* padding:5px; */
  /* background-color: black; */
}




/* img {position: absolute; width:100%} */



/* .wrapper-1 {
  background-color: yellow;
  position: absolute;
  width:100%;
  height:100%;
}
.item{
  position: relative;
  height: 99%;
  width:50%;
  background-color: blue;
  margin:0.5%;
} */



.gallery{
  position: fixed;
  height: calc(100% - 38px);
  width: calc(100% - 38px);
  top:19px; left:19px;
  overflow: hidden;
  /* display: none; */
  /* scroll-behavior: smooth; */
  /* background-color: green; */
  /* display: block; */
}
.gallery-cont-a-1, .gallery-cont-a-2,
.gallery-cont-a-3, .gallery-cont-a-4,
.gallery-cont-a-5, .gallery-cont-a-6,
.gallery-cont-a-7, .gallery-cont-c-1,
.gallery-cont-c-2, .gallery-cont-c-3,
.gallery-cont-c-4, .gallery-cont-c-5,
.gallery-cont-c-6 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  display: none;
}
/* .gallery-cont-a-1{display: none;}
.gallery-cont-a-2{display: none;}
.gallery-cont-a-3{display: none;} */

/* .gallery-wrapper-5 {display:none;} */
.inner {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  text-align: center;
}

.inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}
.numbertext, .nametext {
  color: red;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 15px;
  position: absolute;
  text-transform: uppercase;
  /* background-color: blue; */
}
.numbertext{top: 0px; right:10px;}
.nametext{top: 0px; left:10px;}

.prev, .next {
  /* cursor: pointer; */
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.next {right: 15px;}
.prev {left: 15px;}

.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

.ver{
  margin: 0;
  position: absolute;
  top: 50%;
  left:0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact{
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 1.5vw;
  color: black;
  position: fixed;
  line-height: 150%;
  bottom: 1%;
  right: 1%;
}

.menu, .menu-2 {
  position: fixed;
  width: calc(50% - 20px);
  height: calc(100% - 40px);
  overflow: hidden;
  /* padding-top: 20px; */
  background-color: white;
  top: 20px;
  /* display: none; */
}
.menu   {left:20px; font-size: 45px;}
.menu-2 {left:50%;  font-size: 45px;}

.project_names, .alex-hello {
  position: absolute;
  height: 100%;
  width:95%;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding: 15px;
  padding-top: 25px;
  /* text-transform: uppercase; */
  overflow: scroll;
  text-align: left;
  /* display: flex; */
  /* justify-content: space-between; */
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 10%; */
}

.alex-hello{top:80%}
.pr-link {
  /* color: white; */
  text-transform: uppercase;
}
.pr-link:hover{
  /* background-color: black; */
  color: red;
  /* font-weight: 400; */
  /* cursor: pointer; */
}
.pr-comment{
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.box_top_1,.box_top_2,
.box_bottom_1{
  position: fixed;
  text-align: center;
  background-color: black;
  color: black;
  /* border: solid 1px black; */
}
.box_bottom_2 {
  position: fixed;
  background-color: black;
  color: red;
  /* border: solid 1px black; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

/* a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;} */

.box_top_1{ left: 0%;  top:0%; width: 50.2%; height: 20px; padding-left:2%}
.box_top_2{ left: 50%; top:0%; width: 50%; height: 20px; padding-left:0.5%}
.box_bottom_1{ left: 0%;  bottom:0%; width: 50.2%; height: 20px; padding-left:2%;}
.box_bottom_2{ left: 50%; bottom:0%; width: 50%; height: 20px; padding-left:2%; padding-right:2%}

.box_bottom_1:hover{
  /* cursor: pointer; */
  /* background-color: red;
  color: black; */
}


.about{padding:2px}
/* .about:hover {font-style: bold;} */
.top-links{
  text-decoration: none;
  font-size: 10px;
  font-family: 'Nimbus Sans L', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
#social {color:red;}

.box_left {
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: solid 1px black; */
}
.box_right {
  position: fixed;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: solid 1px red; */
  /* border: solid 1px black; */
}
.descr-button{
  position: absolute;
  padding: 2px;
  top: 50%; left: 50%;
  width: 100%;
  font-size: 10px;
  font-family: 'Nimbus Sans L', sans-serif;
  color: black;
  text-transform: uppercase;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}
/* .descr-button:hover{cursor: pointer;} */

.box_left, .box_right {
    position: fixed;
    width: 20px; height:100%;
}
.box_left {top:0%; left:0%;}
.box_right {top:0%; right:0%;}

#cursor {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  float: left;
  box-shadow: 5px 10px 8px black;
}

/* .test{
  position: absolute;
  background:gray;
  width:200px;
  height:200px;
  cursor: auto;
  cursor: url(images/cursor/cursor_1_s.png), auto;
} */


/* .pr_name{
  position: absolute;
  font-size: 40px;
  font-family: 'Space Text',sans-serif;
  color: white;
  left:25px; top:25px; left:50%;
} */

.thing-1, .thing-2, .thing-3, .thing-4, .thing-5,
.thing-6, .thing-7 {
  position: fixed;
  width:calc(50% - 20px);
  height:5%;
  top:20px; left:50%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  /* background-color: red; */
}
.thing-8, .thing-9, .thing-10, .thing-11, .thing-12 {
  position: fixed;
  width:calc(50% - 20px);
  height:5%;
  top:20px; left:20px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.pr-extra-info {
  font-size: 10px;
  font-weight: 200;
  font-family: 'Nimbus Sans L', sans-serif;
  /* color:black; */
  color: red;
  text-transform: uppercase;
  /* line-height: 1.2; */
  padding-left: 15px; padding-right: 15px;
  padding-top: 5px;
}

.container-3{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width:100%;
  top:5%;
}

.vl {
  position: fixed;
  left:50%;
  top: 0px;
  border-left:1px solid black;
  height: 100%;
}
.description{
  position: fixed;
  width:calc(50% - 20px);
  height:100%;
  top:20px; left:50%;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 20px;
  color: red;
}

.st-link-text{
  font-size: 20px;
  /* text-transform: uppercase; */
}
/* .statement::first-letter {
  font-size: 400%;
  color: black;
} */



.caption {
  color: red;
  font-size: 15px;
  position: absolute;
  right: 10px;
  width: 30%;
  text-align: left;
  /* text-align: center; */
  font-family: 'Nimbus Sans L', sans-serif;
  /* text-transform: uppercase; */
}
#back-menu { display: none;}
/* #back-menu:hover{ cursor: pointer;} */
#open_descr-a-1,
/* #open_descr-a-2:hover{cursor: pointer;} */
#open_descr-a-1,
#open_descr-a-2{color:black}



/* .img-container-1,
.img-container-2,
.img-container-3 {display: none;} */

/* SCROLLBAR */
/* ::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {background: black;}
::-webkit-scrollbar-thumb:hover {background: orange;} */


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#button-descr-a-1,
#button-descr-a-2,
#button-descr-a-3,
#button-descr-a-4,
#button-descr-a-5,
#button-descr-a-6,
#button-descr-a-7,
#button-descr-c-1,
#button-descr-c-2,
#button-descr-c-3,
#button-descr-c-4,
#button-descr-c-5,
#button-descr-c-6 {
  display: none
}
.cross{
  position: absolute;
  color: red;
  right:10px;
  top:40px;
}
/* .cross:hover{cursor: pointer} */
