@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  background-color: white;
  margin:0%;
  padding:0%;
  border:0%;
  outline:0%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  /* cursor:none; */
}
/* img {
  float:left;
} */

#container, #container-2 {
    width: 50%;
    height: 100%;
    position: fixed;
    color: black;
    overflow: hidden;
    display: none;
}
/* #container-2 {
    width: 50%;
    height: 98%;
    position: fixed;
    color: black;
    overflow: hidden;
} */
#drawer {
    position: absolute;
    right: 0; bottom: 0;
    width: 100%;
    overflow-x: hidden;
    /* box-shadow: -5px 10px 18px #888888; */
    /* background-color: pink; */
}
#drawer-2 {
    position: absolute;
    right: 0; top: 0;
    width: 100%; height:100%;
    overflow-x: hidden;
    /* background-color: blue; */
}
#drawer > div {
    height: 100%;
    float: left;
}
#drawer-2 > div {
    height: 100%;
    float: left;
}
#drawer-content {background-color: white;}
#drawer-content-2 {background-color: white;}

/* #drawer-content > p {
    padding: 10px;
} */
.d-text {
  display: none;
  overflow: scroll;
  background-color: white; color: black;
  font-family: 'Space Text', sans-serif;
  font-size: 2.1vw;
  top:0%;
  padding: 1vw;
  padding-top: 25px; padding-bottom: 25px; padding-left: 35px; padding-right: 10px;
}
#pr-a-descr-1{
  display: none;
  overflow: hidden;
  background-color: white;
  /* color: black; */
  font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
  font-size: 2.1vw;
  top:0%;
  padding: 1vw;
  height:100%;
  padding-top: 25px; padding-bottom: 25px; padding-left: 35px; padding-right: 10px;
}
#contact-info{
  font-family: 'Space Text', monospace;
  font-size: 3.5vw;
  position: absolute;
  top:6%;
  top:20px;
  padding: 1vw;
  /* padding-top:10%; */
}

/* MENU IMAGES */
/* .menu-img, .video{
  position: absolute;
  overflow: hidden;
  background-color: blue;
} */

.image-container{
  display: none;
  position: absolute;
  height:100%; width:100%;
  overflow: hidden;
  top:0px;
  /* scroll-behavior: smooth; */
  /* padding:5px; */
  /* background-color: black; */
}
.menu-img-pr{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
#pr-a-1-img,
#pr-a-2-img,
#pr-a-3-img,
#pr-a-4-img,
#pr-a-5-img,
#pr-a-6-img,
#pr-a-7-img,
#pr-c-1-img,
#pr–c-2-img,
#pr-c-3-img,
#pr-c-4-img,
#pr-c-5-img {
  display: none;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-container-2{
  display: none;
  position: absolute;
  height:100%; width:100%;
  overflow: hidden;
  top:0px;
  /* scroll-behavior: smooth; */
  /* padding:5px; */
  /* background-color: black; */
}




/* img {position: absolute; width:100%} */


/* GALLERY IMAGES */
/* .wrapper-1 {
  display: inline-block;
  position: relative;
} */

/* .wrapper-1 {
  background-color: yellow;
  position: absolute;
  width:100%;
  height:100%;
}
.item{
  position: relative;
  height: 99%;
  width:50%;
  background-color: blue;
  margin:0.5%;
} */



.gallery{
  position: fixed;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  top:20px; left:20px;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: black;
  /* display: block; */
}
.gallery-cont-a-1, .gallery-cont-a-2,
.gallery-cont-a-3, .gallery-cont-a-4,
.gallery-cont-a-5, .gallery-cont-a-6,
.gallery-cont-a-7, .gallery-cont-c-1,
.gallery-cont-c-2, .gallery-cont-c-3,
.gallery-cont-c-4, .gallery-cont-c-5 {
  position: absolute;
  height: 100%; width: 100%;
  top:0px; left:0px;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: black;
  display: none;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: black;
}
.gallery-img{
  position: absolute;
  height:100%;
  width: 100:;
  display: block;
  object-fit: cover;
}


.ver{
  margin: 0;
  position: absolute;
  top: 50%;
  left:0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 3000px;
  overflow-x: auto;
  background-color: #ddd;
}
ul.images li {
  display: inline;
  width: 150px;
  height: 150px;
} */

/* Clearfix (clear floats) */
/* .row::after {
  content: "";
  clear: both;
  display: table;
} */


/* .wrapper-cd-hor{height:100%} */
/* .wrapper-2 {top: 100%}
.wrapper-3 {top: 200%}
.wrapper-4 {top: 300%; background-color: white;} */

/* .wrapper-cd {display: inline; margin-right: 5%;} */

/* img {height:100%; max-height:100%; display: block;} */
/* img {width:50%; max-height:100%; display: block;} */


.contact{
  font-family: 'Space Text', sans-serif;
  font-size: 1.5vw;
  color: black;
  position: fixed;
  line-height: 150%;
  bottom: 1%;
  right: 1%;
}

.menu, .menu-2 {
  position: fixed;
  width: calc(50% - 20px);
  height: calc(100% - 40px);
  overflow: hidden;
  /* padding-top: 20px; */
  background-color: white;
  top: 20px;
  /* display: none; */
}
.menu   {left:20px; font-size: 45px;}
.menu-2 {left:50%;  font-size: 45px;}

.project_names {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
  /* font-weight: 200; */
  /* font-weight: bold; */
  line-height: 1.2;
  padding: 15px;
  padding-top: 25px;
  text-transform: uppercase;
  overflow: scroll;
  text-align: left;
  /* background-color: blue; */
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 10%; */
}
.pr-link {
  /* color: white; */
}
.pr-link:hover{
  /* background-color: black; */
  color: red;
  /* font-weight: 400; */
  cursor: pointer;
}
.pr-comment{
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.box_top_1,.box_top_2,
.box_bottom_1{
  position: fixed;
  text-align: center;
  background-color: white;
  color: black;
  border: solid 1px black;
}
.box_bottom_2 {
  position: fixed;
  background-color: white;
  color: black;
  border: solid 1px black;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.box_top_1{ left: 0%;  top:0%; width: 50.2%; height: 20px; padding-left:2%}
.box_top_2{ left: 50%; top:0%; width: 50%; height: 20px; padding-left:0.5%}
.box_bottom_1{ left: 0%;  bottom:0%; width: 50.2%; height: 20px; padding-left:2%;}
.box_bottom_2{ left: 50%; bottom:0%; width: 50%; height: 20px; padding-left:2%; padding-right:2%}

.box_bottom_1:hover{
  background-color: red;
  cursor:pointer;
}


.about{padding:2px}
/* .about:hover {font-style: bold;} */
.top-links{
  /* text-decoration: none; */
  font-size: 10px;
  font-family: 'Space Text', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.box_left {
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px black;
}
.box_right {
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px black;
}
.descr-button{
  position: absolute;
  padding: 2px;
  top: 50%; left: 50%;
  width: 100%;
  font-size: 10px;
  font-family: 'Space Text',sans-serif;
  display: none;
  text-transform: uppercase;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}


.box_left, .box_right {
    position: fixed;
    width: 20px; height:100%;
}
.box_left {top:0%; left:0%;}
.box_right {top:0%; right:0%;}






#cursor {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  float: left;
}


.pr_name{
  position: absolute;
  font-size: 40px;
  font-family: 'Space Text',sans-serif;
  color: white;
  /* text-transform: uppercase; */
  left:25px; top:25px; left:50%;
}

.thing-1, .thing-2, .thing-3, .thing-4, .thing-5,
.thing-6, .thing-7 {
  position: fixed;
  width:calc(50% - 20px);
  height:5%;
  top:20px; left:50%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.thing-8, .thing-9, .thing-10, .thing-11, .thing-12 {
  position: fixed;
  width:calc(50% - 20px);
  height:5%;
  top:20px; left:20px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.pr-extra-info {
  font-size: 10px;
  font-weight: 200;
  font-family: 'Space Text',sans-serif;
  color: red;
  text-transform: uppercase;
  /* line-height: 1.2; */
  padding-left: 15px; padding-right: 15px;
  padding-top: 5px;
}

.container-3{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width:100%;
  top:5%;
}

.gallery-img{
  position: absolute;
  width:100%;
  height:100%;
  display: block;
}
.vl {
  position: fixed;
  left:50%;
  top: 0px;
  border-left:1px solid black;
  height: 100%;
}
.description{
  position: fixed;
  width:calc(50% - 20px);
  height:100%;
  top:20px; left:50%;
  font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
  font-size: 20px;
  color: red;
}


/* .statement::first-letter {
  font-size: 400%;
  color: black;
} */


/* SCROLLBAR */
/* ::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {background: black;}
::-webkit-scrollbar-thumb:hover {background: orange;} */
