@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html, body { height: 100% }

/*body of the page*/

.images img, .text, .linkto{
	width: 100%;
	height: auto;
	opacity: 0;
	display: block;
}

div.box, div.line { position: absolute }

.box {
	background: white;
	border: 1px solid black;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
div.box.small { width: 14vw; height: 8vw }
div.box.portrait { width: 9vw; height: 12vw }
div.box.square { width: 16vw; height: 16vw }

div.line { background: black }
div.line.ver { width: 1px }
div.line.hor { height: 1px }

div.box {
	font-family: 'Roboto Condensed';
	font-size: 1.5vw;
	font-weight: 400;
	text-align: center;
	padding: 2%;
}
.header {
	position: fixed;
	padding: 1%;
	font-family: 'Roboto Condensed';
	font-size: 1.5vw;
	font-weight: 400;
	font-style: bold;
	color: black;
}

.linkto {
	position: absolute;
	opacity: 1;
	padding: 1%;
	font-family: 'Roboto Condensed';
	font-size: 1.5vw;
	font-weight: 400;
	font-style: bold;
	color: black;
	top: 10%;
	right: 2%;
	z-index: 1000;

}

#name { right:2%; top:1vw; cursor:pointer}
#name:hover {font-style: italic}
#contact { right: 2%; top:4vw}


div.box.rollovered,
div.images.rollovered img {
	font-family: 'Roboto' !important;
	font-style: italic;
	opacity: 1;
	box-shadow: 0.5vw 0.5vw 0.5vw #888888;
	cursor:pointer;
	z-index: 3000;
}
div.text.rollovered {
	font-family: 'Roboto' !important;
	opacity: 1;
	box-shadow: 0.5vw 0.5vw 0.5vw #888888;
	cursor:pointer;
  z-index: 3000
}

div.line.blended {
	background-color: rgba(0,0,0,0.25);
}
div.box.blended,
div.images.blended {
	color: rgba(0,0,0,0.25);
	border-color: rgba(0,0,0,0.25) !important;
}

/*images*/
#getgoing,
#bur1, #bur2, #bur3,
#fourth1, #fourth2, #fourth3, #fourth4,
#intim1, #intim2,
#insideout1, #insideout2,
#poem1, #poem2,
#objects1, #objects2, #objects3, #objects4,
#miscon1, #miscon2, #miscon4, #miscon5,
#jorplace1, #jorplace2,#jorplace3,
#practice1, #practice2,
#uncanny1
 {
	border-width:1px;
	border-style: solid;
	border-color: black;
	position: absolute;
}

#getgoing { left:2%; top:1vw; width:15%;}
#bur1     { left:19%; top:1vw; width:20%;}
#bur2     { left:17%; top: 26vw; width:15%;}
#bur3     { left:45%; top: 22.5vw; width:20%;}
#fourth1  { left:25%; top:37vw; width:15%;}
#fourth2  { left:67%; top:37vw; width:30%;}
#fourth3  { left:25%; top:49vw; width:15%;}
#fourth4  { left:82%; top:15vw; width:15%;}
#intim1   { left:45%; top:1vw; width:20%;}
#intim2   { left:68%; top:19vw; width:12%;}
#insideout1 { left:2%; top:40vw; width:20%;}
#insideout2 { left:4%; top:66vw; width:30%;}
#poem1 { left:20%; top:92vw; width:20%;}
#poem2 { left:4%; top:109vw; width:30%;}
#objects1 { left:50%; top:80vw; width:20%;}
#objects2 { left:45%; top:48vw; width:20%;}
#objects3 { left:72%; top:58vw; width:25%;}
#objects4 { left:38%; top:65vw; width:14%;}
#miscon1 { right: 2%; top:112vw; width:20%;}
#miscon2 { right:2%; top:96vw; width:20%;}
#miscon4 { left:45%; top:108vw; width:18%;}
#miscon5 { left:50%; top:123vw; width:23%;}
#jorplace1 { right:2%; top:148.1vw; width:25%;}
#jorplace3 { left:53%; top:160vw; width:15%;}
#practice1 { left:30%; top:147vw; width:15%;}
#practice2 { left:2%; top:135vw; width:20%;}
#uncanny1 { left:2%; top:167vw; width:30%;}

/*text*/
.text {
	color: black;
	font-family: 'Roboto Condensed';
	position: absolute;
	font-size: 1.1vw;
	font-weight: 200;
/*	text-align: left;*/
	padding: 1%;
	font-weight: normal;
	background-color: white;
	border: 1px solid black;
	z-index:-300;
}

#text_getgoing{ width: 22%; left: 20vw; top: 2% }
#text_bur{ width: 22%; left: 70vw; top: 2% }
#text_intim{ width: 22%; left: 20vw; top: 2% }
#text_fourth{ width: 20%; left: 30vw; top:15% }
#text_objects{ width: 20%; left: 14vw; top:80% }
#text_insideout{ width: 22%; left: 30vw; top: 70% }
#text_poem{ width: 22%; left: 45vw; top: 165% }
#text_miscon{ width: 22%; left: 17vw; top: 185% }
#text_jorplace{ width: 22%; left: 25vw; top: 270% }
#text_practice{ width: 22%; left: 30vw; top: 295% }
#text_uncanny{ width: 22%; left: 50vw; top: 300% }



/*buttons*/
.button {
	position: fixed;
	top: 1vw;
	height:2vw;
	width:2vw;
	border: 1px solid black;
	cursor:pointer;
}

.button img {
	width:100%;
	height:auto;
	opacity:0;
}

.button img:hover { opacity: 1;}

/*slideshow*/
#container_bur,
#container_getgoing,
#container_intim,
#container_fourth,
#container_insideout,
#container_poem,
#container_objects,
#container_miscon,
#container_jorplace,
#container_practice,
#container_uncanny
{ position: fixed;
	top: 0; left:0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
	display: none;
}

#container_bur ul,
#container_getgoing ul,
#container_intim ul,
#container_fourth ul,
#container_insideout ul,
#container_poem ul,
#container_objects ul,
#container_miscon ul,
#container_jorplace ul,
#container_practice ul,
#container_uncanny ul
{ position: absolute;
	width: 100%;
	height: 100%;
	list-style:none outside none;
	overflow: hidden;
}

#container_bur li,
#container_getgoing li,
#container_intim li,
#container_fourth li,
#container_insideout li,
#container_poem li,
#container_objects li,
#container_miscon li,
#container_jorplace li,
#container_practice li,
#container_uncanny li
{ position:absolute;
	width: 100%;
	height: 100%;
	display: none;
	/*background-color: red;*/
}

#container_bur li:first-child,
#container_getgoing li:first-child,
#container_intim li:first-child,
#container_fourth li:first-child,
#container_insideout li:first-child,
#container_poem li:first-child,
#container_objects li:first-child,
#container_miscon li:first-child,
#container_jorplace li:first-child,
#container_practice li:first-child,
#container_uncanny li:first-child
{ display: list-item;}

#container_bur img,
#container_bur iframe,
#container_getgoing img:not(.vertical),
#container_intim img:not(.vertical),
#container_fourth img,
#container_insideout img,
#container_poem img:not(.vertical),
#container_objects img:not(.vertical),
#container_objects iframe,
#container_miscon img:not(.vertical),
#container_jorplace img:not(.vertical),
#container_practice img:not(.vertical),
#container_practice iframe,
#container_uncanny img,
#container_uncanny iframe
{ position: absolute;
	top: 50%; left: 50%;
	z-index:300;
	width: 85%;
	height: auto;
	max-width: 100%;
	max-width: -webkit-calc(100% - 128px);
	max-width: -moz-calc(100% - 128px);
	max-width: calc(100% - 128px);
	max-height: 95%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	/*pointer-events: none;*/
   -webkit-user-select: none;
    -moz-user-select: -moz-none;

    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
    		transform: translate(-50%, -50%);
}

.vertical {
	height: 90%;
	width:auto;
	position: absolute;
	top: 50%; left: 50%;
	z-index:300;
	max-width: 100%;
	max-width: -webkit-calc(100% - 128px);
	max-width: -moz-calc(100% - 128px);
	max-width: calc(100% - 128px);
	max-height: 95%;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	/*pointer-events: none;*/
   -webkit-user-select: none;
    -moz-user-select: -moz-none;

    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
    		transform: translate(-50%, -50%);
}

#container_bur iframe,
#container_objects iframe,
#container_practice iframe,
#container_uncanny iframe {
	height:90%;
	width:90%;
}

/*buttons*/
#container_getgoing .prevButton,
#container_bur .prevButton,
#container_intim .prevButton,
#container_fourth .prevButton,
#container_insideout .prevButton,
#container_poem .prevButton,
#container_objects .prevButton,
#container_miscon .prevButton,
#container_jorplace .prevButton,
#container_practice .prevButton,
#container_uncanny .prevButton
{ left: 2%;
  background-image: url('../images/button_prev.png');
  position: fixed;
  top: 50%;
  margin-top: -32px;
	width:40px;
	height:40px;
	z-index:300;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 2000
}

#container_getgoing .nextButton,
#container_bur .nextButton,
#container_intim .nextButton,
#container_fourth .nextButton,
#container_insideout .nextButton,
#container_poem .nextButton,
#container_miscon .nextButton,
#container_objects .nextButton,
#container_jorplace .nextButton,
#container_practice .nextButton,
#container_uncanny .nextButton
{ right: 1%;
  background-image: url('../images/button_next.png');
  position: fixed;
  top: 50%;
  margin-top: -32px;
	width:40px;
	height:40px;
	z-index:300;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 2000
}

#container_bur .exit,
#container_getgoing .exit,
#container_intim .exit,
#container_fourth .exit,
#container_insideout .exit,
#container_poem .exit,
#container_objects .exit,
#container_miscon .exit,
#container_jorplace .exit,
#container_practice .exit,
#container_uncanny .exit
{ height:100%;
	width:100%;
	background-color: black;
	cursor: pointer;
	z-index:1;
	opacity: 0.5;
	position: absolute;
}
